[Unit]
Description=PiSeduce Agent Executor
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/piseduce_agent
ExecStart=/usr/bin/python3 agent_exec.py config_agent.json
ExecStop=/usr/bin/touch execstop
ExecStopPost=/bin/rm execstop
TimeoutStopSec=20
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
