[Unit]
Description=PiSeduce Worker API
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/piseduce_worker
ExecStart=/usr/bin/python3 worker_api.py config_worker.json
TimeoutStopSec=20
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
